header {
	margin-bottom: 6%;
	text-decoration:none;
	color:black;
	font-size: 30px;
	
}
.sep{
	margin-bottom: 10%;
	}
.button{
	background-color:#00FFFF;
	color: #000000;
	padding:1rem;
	text-decoration:none;
	display:inline-block;
    border-radius:3rem;
	margin-top: 15%;
}
.button:hover {
background: #FFFFFF; }


.body{background-color:#FFFF33;
	  color:#000000;}

.shadow {
	border-radius:1rem;
	text-align:center;
	background-color:#3355FF;
	}

h1{
	color:white
}

.nom{color:black;]
}
img{
	width: 70px;
	height: 70px;
}